| AdMine system started the process of restoring your account
| If it was you, now you can follow that link #{restoreUrl}
| Please, skip this message, if it wasn't you
|
| If you have any questions, please contact us by email: #{supportEmail}